:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #fff;
  flex: 0 0 300px;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

nz-content {
  background: #fff;
}

nz-layout {
  height: 100vh;
}

nz-layout nz-layout {
  height: 100%;
}

.cart-content{
  background-color: rgba(250, 250, 252, 1) !important;
  max-height: 100%; /* Adjust as needed for desired height */
}
